@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #0A3871;
    --secundary-color: #F3F5FC;
    --tertiary-color: #D8DFE8;
    --neutral-color: #000000;

    --primary-font: 'Inter', sans-serif;

    --primary-font-size: 1.5rem;
    --secundary-font-size: 1.25rem;
    --tertiary-font-size: 1rem;
    --quaternary-font-size: 0.8rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--secundary-color);
    color: var(--secundary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container{
    background-color: var(--tertiary-color);
}

.main-container{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5% 15%;
    box-sizing: border-box;
}

.main-container__input-area{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-container__input-area__textarea{
    height: 80%;
    padding: 5% 5%;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    resize: none;
    border: none;
}

.main-container__input-area__textarea:focus{
    outline: none;
}

.main-container__input-area__buttons{
    padding: 0% 0%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.main-container__input-area__buttons input{
    width: 50%;
    padding: 24px 0;
    border-radius: 24px;
}

.main-container__input-area__encrypt{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.main-container__input-area__encrypt:hover{
    background-color: #0D478D;
}

.main-container__input-area__decrypt{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-container__input-area__decrypt:hover{
    background-color: var(--tertiary-color);
    transition-duration: 0.4s;
}

.main-container__display-area{
    width: 30%;
    height: 100%;
    border-radius: 20px;
    padding: 2% 2%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container__display-area__no-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-container__display-area__no-content__h3{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--tertiary-font-size);
    text-align: center;
    color: var(--neutral-color);
}

.main-container__display-area__no-content__h4{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--quaternary-font-size);
    text-align: center;
    color: var(--neutral-color);
}

.main-container__display-area__result{
    display: none;
    height: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--tertiary-font-size);
    color: var(--neutral-color);
    word-break: break-all;
    overflow-y:auto;
}

.main-container__display-area__no-content__copy-button{
    width: 100%;
    display: none;
    padding: 24px 0;
    border-radius: 24px;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

}

.main-container__display-area__no-content__copy-button:hover{
    background-color: var(--tertiary-color);
    transition-duration: 0.4s;
}

.footer-container{
    padding: 15px;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--secundary-font-size);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}
