@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #0A3871;
    --secundary-color: #F3F5FC;
    --tertiary-color: #D8DFE8;

    --neutral-light-color: #ffffff;
    --neutral-dark-color: #000000;

    --primary-font: 'Inter', sans-serif;

    --primary-font-size: 1.5rem;
    --secundary-font-size: 1.25rem;
    --tertiary-font-size: 1rem;
    --quaternary-font-size: 0.8rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--secundary-color);
    color: var(--secundary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container{
    height: 5%;
    padding: 20px 80px;
    display: flex;
    transition-duration: 1s;
}

.main-container{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15%;
    padding: 40px 5% 40px 15%;
    box-sizing: border-box;
}

.main-container__input-area{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-container__input-area__textarea{
    height: 80%;
    padding: 5% 5%;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    resize: none;
    border: none;
}

.main-container__input-area__textarea::placeholder{
    color: var(--primary-color);
}

.main-container__input-area__textarea:focus{
    outline: none;
}

.main-container__input-area__buttons{
    padding: 0% 0%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.main-container__input-area__buttons input{
    width: 50%;
    padding: 24px 0;
    border-radius: 24px;
    font-size: var(--tertiary-font-size);
}

.main-container__input-area__encrypt{
    background-color: var(--primary-color);
    color: var(--neutral-light-color);
    border: 1px solid var(--primary-color);
}

.main-container__input-area__encrypt:hover{
    background-color: #0D478D;
}

.main-container__input-area__decrypt{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-container__input-area__decrypt:hover{
    background-color: var(--tertiary-color);
    transition-duration: 0.4s;
}

.main-container__display-area{
    width: 30%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 20px 15px 20px;
    background-color: var(--neutral-light-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container__display-area__no-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-container__display-area__no-content__h3{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--tertiary-font-size);
    text-align: center;
    color: var(--neutral-dark-color);
}

.main-container__display-area__no-content__h4{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--quaternary-font-size);
    text-align: center;
    color: var(--neutral-dark-color);
}

.main-container__display-area__result{
    display: none;
    height: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--secundary-font-size);
    color: var(--neutral-dark-color);
    word-break: break-word;
    overflow-y:auto;
}

.main-container__display-area__no-content__copy-button{
    width: 100%;
    display: none;
    padding: 24px 0;
    border-radius: 24px;
    background-color: var(--neutral-light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: var(--tertiary-font-size);
}

.main-container__display-area__no-content__copy-button:hover{
    background-color: var(--tertiary-color);
    transition-duration: 0.4s;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: var(--tertiary-color);
}

.footer-container__text{
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--secundary-font-size);
    font-weight: 400;
}

.footer-container__navigation{
    display: flex;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

.footer-container__navigation__link{
    display: flex;
    text-decoration: none;
}

.footer-container__navigation__link__image{
    width: 30px;
    height: 30px;
}

/* estilo da scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--neutral-light-color);
}

 ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
}

@media (max-width: 1300px) {

    .header-container{
        padding: 20px 5%;
    }

    .main-container{
        flex-direction: column;
        padding: 40px 5%;
        gap: 50px;
    }

    .main-container__input-area{
        width: 100%;
    }

    .main-container__display-area{
        width: 97%;
        height: 30%;
    }

    .main-container__display-area__no-content__image{
        display: none;
    }

    .main-container__display-area__result{
        overflow-y: scroll;
    }
}

@media (max-width: 700px) {

    .main-container__input-area__buttons{
        flex-direction: column;
        gap: 15px;
    }

    .main-container__input-area__buttons input{
        width: 100%;
    }
}




